	
*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
}
a,a:hover,a:focus,a:active{
	text-decoration:none;
}
ul,ol{
	margin:0;
	padding:0;
	list-style:none;

}
body{
	background-color:#fff;
	font-family: 'Open Sans', sans-serif;
}
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.header{
	background-color:#ef701b;
}
.header li h2{
	color:#fff;
	font-size:26px;
	padding:10px;
}
.head_list li{
	display:inline-block;	
	font-size:17px;
	padding:10px 0;
}
.formsec label{
	padding:10px 0;
}
.phone_box input[type="number"] {
    -moz-appearance: textfield;
}
.sold h4{
	font-size:17px;
	font-weight:600;
	margin:10px 0 5px;
}
.sold p{
	font-size:17px;
	margin:10px 0 5px;
}
.sold span{
	color:#5ae64c;
}
.tax_list li{
	display:inline-block;
	width:49%;
	font-size:17px;
	padding:1px 0;
}
.padd_space{text-align:center;}

.table{
	margin-top:20px;
}
table.table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.table th, td {
    padding: 5px;
    text-align: left;    
}
.table > thead > tr > th{
	border-bottom:1px solid #000;
}
.borderb{
	border-bottom:1px solid #000;
	padding:0;
}
.borderb2{
	padding:0;
}
.thanku h3{
	font-size:17px;
	font-weight:600;
	margin:30px 0;
    text-align: center;
    font-style: italic;
}